<div class="alert-container">
  <app-alerter></app-alerter>
</div>
<div class="shift-container">
  <div class="col-md-12">
    <div class="select-platform">
      <div class="col-md-12 pb-4">
        <h5>Select Platform</h5>
      </div>
      <div class="platform-sec-container">
        <form
          [formGroup]="frmPlatform"
          class="was-validated"
          enctype="multipart/form-data"
        >
          <div class="col-md-9 pull-left">
            <div class="form-group dropdown">
              <select
                (change)="onPlatformChange($event.target.value)"
                formControlName="selectedPlatform"
                class="form-control dropdown-toggle"
              >
                <option class="option-universe" value=""> Select </option>
                <option
                  *ngFor="let platform of platforms"
                  class="option-universe"
                  [value]="platform"
                >
                  {{ platform }}
                </option>
              </select>
            </div>

            <div *ngIf="selectedPlatform?.value">
              <div
                class="form-group"
                *ngIf="
                  selectedPlatform.value == 'Business Object Server Universe'
                "
              >
                <label class="required">Enter the URL</label>
                <input
                  type="text"
                  formControlName="platformProperty"
                  class="form-control"
                  required
                />
              </div>
              <div
                class="form-group"
                *ngIf="
                  selectedPlatform.value != 'Business Object Server Universe'
                "
              >
                <label
                  class="required"
                  *ngIf="
                    selectedPlatform.value === 'Upload QlickView Workbooks'
                  "
                >
                  Select a .qvd file
                </label>
                <label
                  class="required"
                  *ngIf="selectedPlatform.value === 'Business Object Server'"
                >
                  Select a .unx file
                </label>

                <input
                  type="file"
                  formControlName="platformProperty"
                  class="form-control"
                  required
                  (change)="handleFileInput($event.target.files)"
                />
              </div>
            </div>
          </div>

          <div class="col-md-3 pull-left">
            <button
              *ngIf="
                selectedPlatform.value != 'Business Object Server Universe'
              "
              type="button"
              class="orange btn"
              [disabled]="!isPlatformValid"
              (click)="submitPlatform()"
            >
              Submit
            </button>
            <button
              *ngIf="
                selectedPlatform.value == 'Business Object Server Universe'
              "
              type="button"
              class="orange btn"
              data-toggle="modal"
              [disabled]="!platformProperty.value && !frmPlatform.valid"
              data-target="#UniverseAuthentication"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Accorian table data for Universes and details -->
  <div class="col-md-12 mt-3" *ngIf="universesAccordian">
    <div class="select-platform">
      <div class="col-md-12 pb-4">
        <h5>Platform details</h5>
      </div>
      <div class="col-md-12">
        <div class="dropdown">
          <div id="accordion" class="business-accordian">
            <div class="card">
              <div class="card-header accordian-link">
                <a class="card-link" data-toggle="collapse" href="#collapseOne">
                  <span class="universe-name-acc">
                    {{ platformSelected.value }}
                  </span>

                  <span class="arrow-icon"> </span>
                </a>
              </div>
              <div
                id="collapseOne"
                class="collapse show"
                data-parent="#accordion"
              >
                <div class="card-body clear-padding">
                  <table class="table ">
                    <thead>
                      <tr>
                        <th class="actions">
                          <div>
                            <input
                              type="checkbox"
                              id="check-all"
                              title="Select all Universe"
                              class="regular-checkbox"
                              (change)="checkAll($event)"
                              [(ngModel)]="isMultipleUniverseSelected"
                            /><label for="check-all"></label>
                          </div>
                        </th>
                        <th>Universe name</th>
                        <th>Universe Folder</th>

                        <th>Status</th>
                        <th>
                          <div class="convert">
                            <img
                              src="../assets/convert_25.png"
                              alt="Convert all selected"
                              title="Convert all selected"
                              data-toggle="modal"
                              data-target="#frmPlatform"
                              *ngIf="isMultipleUniverseSelected"
                            />
                            <img
                              *ngIf="!isMultipleUniverseSelected"
                              src="../assets/convert_25.png"
                              class="disabled"
                            />
                          </div>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="
                          let universe of paginatedUniverses;
                          let i = index
                        "
                      >
                        <td class="actions">
                          <div title="Select universe">
                            <input
                              type="checkbox"
                              [id]="i"
                              class="regular-checkbox"
                              value="{{ universe.selected }}"
                              [(ngModel)]="universe.selected"
                              (change)="setMulipleCheckStatus()"
                            /><label [for]="i"></label>
                          </div>
                        </td>
                        <td>{{ universe.universeName }}</td>
                        <td>{{ universe.folderPath }}</td>
                        <td>
                          <span>
                            {{ universe.status }}
                          </span>
                        </td>
                        <td>
                          <div class="convert">
                            <img
                              *ngIf="universe.selected"
                              src="../assets/convert_25.png"
                              alt="Convert"
                              title="Convert"
                              data-toggle="modal"
                              data-target="#frmPlatform"
                              (click)="onConvertClick(universe)"
                            />
                            <img
                              *ngIf="!universe.selected"
                              src="../assets/convert_25.png"
                              class="disabled"
                            />
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <nav
                    aria-label="Page navigation example"
                    *ngIf="pager.count > 1"
                  >
                    <ul class="pagination justify-content-end">
                      <li
                        [class]="
                          pager.current === 1
                            ? 'page-item disabled'
                            : 'page-item'
                        "
                      >
                        <a
                          class="page-link"
                          (click)="switchPage(pager.current - 1)"
                          tabindex="-1"
                          >Previous</a
                        >
                      </li>
                      <li
                        [class]="
                          i === pager.current ? 'page-item active' : 'page-item'
                        "
                        *ngFor="let i of pager.pages"
                      >
                        <a class="page-link" (click)="switchPage(i)">{{ i }}</a>
                      </li>
                      <li
                        [class]="
                          pager.current === pager.count
                            ? 'page-item disabled'
                            : 'page-item'
                        "
                      >
                        <a
                          class="page-link"
                          (click)="switchPage(pager.current + 1)"
                          >Next</a
                        >
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="frmPlatform">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title">{{ platformSelected?.value }}</h5>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="col-md-12">
          <form [formGroup]="frmUniverse" class="mt-4 was-validated">
            <!-- choosing the upload type  -->
            <div class="select-values">
              <div class="select-values row custom-radio" style="display: none">
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      type="radio"
                      id="UploadfromBusinessId"
                      value="UploadfromBusiness"
                      [checked]="true"
                      (change)="selectForm($event)"
                      formControlName="selectUniverseFormValues"
                    />
                    <label for="UploadfromBusinessId">
                      Upload from Business Objects Server
                    </label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input
                      type="radio"
                      value="UploadIndividualUniverses"
                      id="UploadIndividualUniversesId"
                      (change)="selectForm($event)"
                      formControlName="selectUniverseFormValues"
                    />
                    <label for="UploadIndividualUniversesId">
                      Upload Individual Universes
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <!-- choosing the type of data -->

            <div class="upload-individual" *ngIf="uploadIndividual">
              <p>Individual upload</p>
            </div>

            <!-- radio button selection Business Obj Universe show here -->
            <div class="form-fromBusiness" *ngIf="UploadfromBusinessUniverse">
              <div class="option-list">
                <h5 class="clr-blue mb-0">Options List</h5>
                <div class="row">
                  <div class="col-md-12 mb-2 mt-3">
                    <div class="form-check">
                      <input
                        type="checkbox"
                        id="chkLookML"
                        class="regular-checkbox"
                        [(ngModel)]="chkLookML"
                        [ngModelOptions]="{ standalone: true }"
                      /><label for="chkLookML"></label>
                      <div>Migrate to LookML</div>
                    </div>
                  </div>
                  <div class="col-md-12 mb-2">
                    <div class="form-check">
                      <input
                        type="checkbox"
                        id="chkConvert"
                        class="regular-checkbox"
                        [(ngModel)]="chkConvert"
                        [ngModelOptions]="{ standalone: true }"
                      /><label for="chkConvert"></label>
                      <div>Convert to a new Database Syntax</div>
                    </div>
                  </div>

                  <!-- snowflex dropdowns -->
                  <div class="col-md-12 mb-2" *ngIf="chkConvert">
                    <div class="row">
                      <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="form-group">
                          <label for="selectedSourceDatabase"
                            >Choose Source Database Syntax</label
                          >
                          <select
                            class="form-control"
                            id="selectedSourceDatabase"
                            [(ngModel)]="selectedSourceDatabase"
                            [ngModelOptions]="{ standalone: true }"
                          >
                            <option
                              *ngFor="let db of sourceDatabaseList"
                              [ngValue]="db"
                            >
                              {{ db }}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="form-group">
                          <label for="selectedDestinationDatabase"
                            >Choose Destination Syntax</label
                          >
                          <select
                            class="form-control"
                            id="selectedDestinationDatabase"
                            [(ngModel)]="selectedDestinationDatabase"
                            [ngModelOptions]="{ standalone: true }"
                          >
                            <option
                              *ngFor="let db of destinationDatabaseList"
                              [ngValue]="db"
                            >
                              {{ db }}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Start - Business object popup  -->
              <div class="server-address-sec mt-4" style="display:none">
                <h5 class="clr-blue mb-0">Business Objects Universe</h5>
                <div class="form-group user-input">
                  <label for="serverAddress"
                    >Business Objects Server Address</label
                  >
                  <input
                    id="serverAddress"
                    type="text"
                    formControlName="serverAddressName"
                    class="form-control"
                  />
                </div>

                <div class="form-group user-input">
                  <label for="adminUserName"
                    >Business Objects Admin UserName</label
                  >
                  <input
                    id="adminUserName"
                    type="text"
                    formControlName="adminUserNameName"
                    class="form-control"
                  />
                </div>

                <div class="form-group user-input">
                  <label for="adminPasswordId"
                    >Business Objects Admin Password</label
                  >
                  <input
                    id="adminPasswordId"
                    type="password"
                    formControlName="adminPassword"
                    class="form-control"
                  />
                </div>
              </div>
              <!-- End - Business Object Popup -->

              <!-- radio button selection Universes through REST API show here -->
              <div
                class="upload-sec mt-4"
                *ngIf="uploadSec"
                style="display:none !important"
              >
                <h5 class="clr-blue mb-0">Choose Universes through REST API</h5>
                <div class="form-group user-input verticle-align-bottom">
                  <label
                    for="uploadUniverses"
                    class="upload-btn-bg"
                    tabindex="0"
                    >Upload Universes
                    <input
                      id="uploadUniverses"
                      tabindex="0"
                      name="uploadUniverses"
                      type="file"
                      formControlName="uploadUniversesName"
                      class="form-control"
                    />

                    <img
                      src="../assets/upload.png"
                      alt="upload file icon"
                      class="upload-icon pull-right"
                    />
                    <p>{{ fileName }}</p>
                  </label>
                </div>

                <div class="form-group user-input">
                  <label for="repoWebsite">Looker GitHub Repo Website</label>
                  <input
                    id="repoWebsite"
                    type="text"
                    formControlName="repoWebsiteName"
                    class="form-control"
                  />
                </div>

                <div class="form-group user-input">
                  <label for="githubToken">Github Token</label>
                  <input
                    id="githubToken"
                    type="text"
                    formControlName="githubTokenName"
                    class="form-control"
                  />
                </div>
              </div>
              <!-- radio button selection Universes through REST API show here -->
            </div>
            <!-- radio button selection Business Obj Universe show here -->

            <button
              type="button"
              style="display:none"
              class="btn continue-btn pull-right"
              (click)="continueForm()"
              *ngIf="noContinue"
            >
              CONTINUE
            </button>

            <button
              type="button"
              class="orange btn pull-right"
              (click)="submitUniverseList()"
              [disabled]="
                !(
                  chkLookML ||
                  (chkConvert &&
                    selectedSourceDatabase !== selectedDestinationDatabase)
                )
              "
            >
              SUBMIT
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="UniverseAuthentication">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <!--<div class="modal-header">
        <h5 class="modal-title">SAP Business Objects </h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>-->
      <!-- Modal body -->
      <div class="modal-body">
        <div class="col-md-12">
          <form [formGroup]="frmBusinessObject" class="was-validated">
            <div class="form-SAPBusinessObj">
              <div class="server-address-sec">
                <h2 class="clr-blue">SAP Business Objects</h2>
                <h5><b> BI launch pad </b></h5>
                <p class="mb-0">
                  <b> Enter your user information, and click "Log On", </b>
                </p>
                <p>
                  If you are unsure of your account information, contact your
                  system adminstrator.
                </p>

                <div class="select-platform overflow-hidden">
                  <div class="form-group">
                    <label for="systemAddress">System</label>
                    <input
                      id="systemAddress"
                      type="text"
                      formControlName="system"
                      class="form-control"
                      required
                    />
                  </div>

                  <div class="form-group">
                    <label for="businessObjUserName"> User Name</label>
                    <input
                      id="businessObjUserName"
                      type="text"
                      formControlName="userName"
                      class="form-control"
                      required
                    />
                  </div>

                  <div class="form-group">
                    <label for="businessObjPasswordId">Password</label>
                    <input
                      id="businessObjPasswordId"
                      type="password"
                      formControlName="password"
                      class="form-control"
                      required
                    />
                  </div>

                  <div class="passwordAuth mb-3"></div>

                  <div class="form-group">
                    <label for="businessObjAuthentication"
                      >Authentication</label
                    >
                    <select
                      class="form-control"
                      id="businessObjAuthentication"
                      formControlName="authenticationType"
                      (change)="onAuthChange($event.target?.value)"
                      required
                    >
                      <option
                        *ngFor="let authType of authTypes"
                        [value]="authType"
                      >
                        {{ authType }}
                      </option>
                    </select>
                  </div>

                  <button
                    type="button"
                    class="orange btn pull-right"
                    (click)="SapBusinessLogin()"
                    [disabled]="!frmBusinessObject.valid"
                  >
                    Login
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
