@import "./../../app/content/scss/variables.scss";

.select-platform {
  border: 1px solid $border-color;
  padding: 30px 20px;
  background: #f5f5f5;
  /*overflow: hidden;*/
  border-radius: 5px;
  min-height: 170px;
  overflow: hidden;

  .dropdown {
    .dropdown-toggle {
      width: 100%;
      background: $white;
      color: $black;
      border: none;
      padding: 10px;
      box-shadow: 0px 1px 5px 0px $border-color;
      height: 45px;
      &::after {
        right: 5px;
        position: absolute;
        top: 20px;
      }
    }
  }
  .dropdown-menu.show {
    width: 100%;
  }

  input[type="file"] {
    height: calc(1.8em + 0.75rem + 2px);
  }
}

.custom-radio.col-md-6 {
  padding: 0 10px;
}

.select-platform h3 {
  color: #0099cc;
  font-size: 16px;
}

.select-platform input,
select {
  color: #000;
}

.accordian-link .arrow-icon {
  float: right;
  color: #000;
}

.accordian-link .arrow-icon {
  transform: rotate(180deg);
}

.accordian-link .collapsed .arrow-icon {
  transform: rotate(0deg);
}

.accordian-link .arrow-icon:before {
  content: "\25bc";
}

.accordian-link .collapsed .arrow-icon:before {
  content: "\25bc";
}

.accordian-link {
  background-color: #c8c8c8;
  a {
    color: #000;
    font-weight: 600;
    font-size: 18px;
    display: inline-block;
    width: 100%;
  }
  button {
    position: absolute;
    right: 325px;
    top: 8px;
  }
}

.table {
  border-bottom: 1px solid #dee2e6;
  thead {
    th {
      color: #fc6b02;
      border: 0;
    }
  }
}

select,
select option {
  font-weight: 600;
}

.user-input {
  width: 33.3%;
  display: inline-block;
  padding: 1vh;
}
.user-input label {
  color: #000;
  font-size: 14px;
  margin: 0;
  font-weight: 600;
}
.user-input .form-control {
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  padding: 5px !important;
  font-weight: 600;
  color: #000;
}

.user-input .form-control:focus {
  box-shadow: inherit;
}
.continue-btn {
  float: right;
  /*box-shadow: 0px 1px 4px 1px #999;*/
  padding: 12px 40px;
  border: 1px solid #ccc;
}

.server-address-sec {
  display: inline-block;
  width: 100%;
}

.clr-blue {
  color: #0099cc;
  /*font-size: 20px;*/
  font-weight: 600;
}
.form-SAPBusinessObj .select-platform .form-group {
  display: flex;
  justify-content: flex-start;
}

.form-SAPBusinessObj .select-platform label {
  white-space: nowrap;
  padding: 0 10px;
  min-width: 120px;
}

/* Radio buttons Custom styling start here */

.custom-radio::before {
  border: 5px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
}

.custom-radio [type="radio"]:checked,
.custom-radio [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.custom-radio [type="radio"]:checked + label,
.custom-radio [type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 32px;
  cursor: pointer;
  line-height: 26px;
  display: inline-block;
  color: #000;
}
.custom-radio [type="radio"]:checked + label:before,
.custom-radio [type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 26px;
  height: 26px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #c6c6c6;
}
.custom-radio [type="radio"]:checked + label:after,
.custom-radio [type="radio"]:not(:checked) + label:after {
  content: "";
  width: 10px;
  height: 10px;
  background: #ffffff;
  position: absolute;
  top: 8px;
  left: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.custom-radio [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.custom-radio [type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.form-check {
  display: flex;
}

.upload-btn-bg {
  padding: 10px;
  background: #e8e8e8;
  display: table;
  color: #0000bb !important;
  cursor: pointer;
  width: 95%;
}

.verticle-align-bottom {
  vertical-align: bottom;
}

.overflow-hidden {
  overflow: hidden;
}

input[type="text"] {
  font-size: 1.2rem;
  font-weight: 600;
}

#frmPlatform label {
  color: $black;
  font-weight: 600;
}
.business-accordian table td,
.business-accordian table th {
  position: relative;
}

.business-accordian table .checkmark {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.card-link {
  cursor: pointer;
}

.pagination {
  position: relative;
  right: 15px;
  .page-item {
    cursor: pointer;

    &.active {
      .page-link {
        background-color: #de5e02;
        border-color: #de5e02;
      }
    }
  }
}

// .was-validated {
//   #businessObjAuthentication,
//   #selectedSourceDatabase,
//   #selectedDestinationDatabase {
//     background-image: none;
//   }
// }

// .actions {
//   display: flex;
//   div {
//     flex-grow: 0;
//     flex-shrink: 0;
//     flex-basis: 25px;
//     margin-right: 3px;
//     img {
//       vertical-align: top;
//       cursor: pointer;
//       &.disabled {
//         opacity: 0.5;
//         &:hover {
//           -moz-box-shadow: 0px 0px 0px #999;
//           -webkit-box-shadow: 0px 0px 0px #999;
//           box-shadow: 0px 0px 0px #999;
//           cursor: no-drop;
//         }
//       }
//       &:hover {
//         -moz-box-shadow: 1px 1px 5px #999;
//         -webkit-box-shadow: 1px 1px 5px #999;
//         box-shadow: 1px 1px 5px #999;
//         -webkit-transition: all 0.2s ease;
//         transition: all 0.2s ease;
//       }
//     }
//   }
// }

table {
  .convert {
    text-align: right;
    img {
      vertical-align: top;
      cursor: pointer;
      &.disabled {
        opacity: 0.5;
        &:hover {
          -moz-box-shadow: 0px 0px 0px #999;
          -webkit-box-shadow: 0px 0px 0px #999;
          box-shadow: 0px 0px 0px #999;
          cursor: no-drop;
        }
      }
      &:hover {
        -moz-box-shadow: 1px 1px 5px #999;
        -webkit-box-shadow: 1px 1px 5px #999;
        box-shadow: 1px 1px 5px #999;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
      }
    }
  }
}
