$purple: #9a68c7;
$blue: #3ba9e4;
$green: #75b343;
$orange: #fc6b02;
$white: #ffffff;
$red: #ff0000;
$black: #000000;
$gray: #808080;
$off-white: #f5f2d0;

$border-color: #666;
$modal-background: #0099cc;
